html, body{
    height:100%;
    background-color:#efefed;
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #494949;
    font-size: 12px;
    background-image: url(images/background-main.png);
    background-size: cover; /* Make the background image cover the entire height */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Keep the background image fixed when scrolling */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove default margin */
}

div .menu{
    padding:2em 7em 2em 7em;
    background-color:#efefed;
   height: auto;
   width:20%;
   min-width: 200px;
}

div .main{
    padding:2em 7em 2em 7em;
    background-color:#efefed;
   height: 100%;
   max-width:50%;
   margin: 0 auto;
}

p.big-titles {
    font-size:20px;
    margin-bottom:1em;
    font-weight: 400;
}

p.medium-titles {
    font-size:16px;
}
