html, body{
    height:100%;
    background-color:#efefed;
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #494949;
    font-size: 12px;
}

div {
    padding:1em 2em 2em 1em;
   background-color: white; 
   border-radius: 10px;
   min-height: 200px;
   max-width:50%;
   margin: 0 auto;
}

p.big-titles {
    font-size:18px;
}

p.medium-titles {
    font-size:16px;
}
